:root {
    --primary-color: #c5b4a4;
    --secondary-color:#efddcd
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bolder;
    font-size: 50px;
}

header a {
    text-decoration: none;
    color: black;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    padding: 10px 30px;
    font-size: 1.30vw;
}


.developer {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.developer img {
    width: 20%;
    border-radius: 50px;

}

.ava-img {
    display: flex;
}

.developer h2 {
    font-size: 38px;
    display: flex;
    flex-wrap: wrap;

}

.intro {
    background-color: var(--primary-color);
}




.works {
    background-color: var(--secondary-color);
}


.contacts {
    background-color: var(--primary-color);
}