:root {
    --primary-color: #c5b4a4;
    --secondary-color:#efddcd
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bolder;
    font-size: 50px;
}

header a {
    text-decoration: none;
    color: black;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    padding: 10px 30px;
    font-size: 1.30vw;
}


.developer {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.bottom-border {
    border-bottom: white solid 5px;
    padding-bottom: 20px;
}

.ava-img {
    display: flex;
    flex: 1 5%;
}

.ava-img img {
    width: 100%;
    border-radius: 50px;
}

.flex-row {
    font-size: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 3 70%;
}

.intro {
    background-color: var(--primary-color);
    padding: 50px;
}

.intro h2 {
    font-size: 38px;
    padding: 20px 0; 
}

.intro p {
    line-height: 1.5;
    font-size: 18px;
}



.works {
    background-color: var(--secondary-color);
}

.works h2 {
    font-size: 38px;
    text-align: center;
    padding: 20px 0 35px 0;
}

.small-work {
    display: flex;
    flex-wrap: wrap;
    flex: 25%;
}

.small-work img {
    width: 25%;
}

.contacts {
    background-color: var(--primary-color);
    padding: 20px 0;
}

.contacts h2 {
    font-size: 38px;
    text-align: center;
    padding: 20px 0 35px 0;
    
}

.contacts a {
    color: black;
}

.contacts ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    font-size: 1.5vw;
}
